# Print Statements and Variables

In this notebook, we introduce:

- The print() function
- Variables in Python
- Basic data assignment
- Naming conventions

In [ ]:
print("Hello, Python Learning is Fun!")

By default, the print() function ends with a new line.
To print multiple words on the same line, you can use the end parameter. We generally give " " (space) as the separator for end, for better readability

In [ ]:
print("This is the first line", end = " ") # Instead of new line, next print will be displayed after a space
print("This is printed in the same line as previous statement!")

print() function can print numbers.
- - Numbers should not be put inside double or single quotes.

Math can also be done inside print() function.

In [ ]:
print("Printing Numeric Values...")
print(20)
print(23784)
print(3.14)

print("Printing some math...")
print(2+3)
print(5*10)
print(21/3)

'+' sign inside print, in the context of strings concatenates (instead of addition)

In [ ]:
print("Hello" + " " + "World" + " " +"!")

We can combine text and numbers in one print() output by separating them with a comma

In [ ]:
print("I am", 33, "years old.")

## Variables in Python

Variables are used to store data values.
Python is dynamically typed â€” you do not need to declare the data type explicitly. That is, Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.

In [ ]:
name = "Sree"
age = 25
height = 5.6

print(name)
print(age)
print(height)

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
name = 0
age = "Twenty Five"
height = 158

print(name)
print(age)
print(height)

String variables can be declared either by using single or double quotes. Both are equivalent.

In [ ]:
name1 = "John"
name2 = 'John'

# name1 and name2 are exactly the same, single or double quotes doesn't matter

print(name1==name2)

Variable names are case-sensitive.

In [ ]:
age = "Twenty Five"
AGE = 25
# both are different variables

print(age)
print(AGE)

## Variable Naming Rules

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:

- - A variable name must start with a letter or the underscore character
- - A variable name cannot start with a number
- - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- - Variable names are case-sensitive (age, Age and AGE are three different variables)
- - A variable name cannot be any of the Python keywords.

In [ ]:
# Valid variable names
student_name = "Anu"
total_marks = 85

# Invalid variable names
# 1name = "Error"
# total-marks = 90

### Multi Words Variable Names

Variable names with more than one word can be difficult to read.
There are several techniques you can use to make them more readable.

#### Camel Case
Each word, except the first, starts with a capital letter.

#### Pascal Case
Each word starts with a capital letter.

#### Snake Case
Each word is separated by an underscore character.

In [ ]:
# Camel Case
myVariableName = "John Camel"
print(myVariableName)

# Pascal Case
MyVariableName = "John Pascal"
print(MyVariableName)

# Snake Case
my_variable_name = "John Snake"
print(my_variable_name)

Python allows you to assign values to multiple variables in one line

In [ ]:
fruit1, fruit2, fruit3 = "Orange", "Banana", "Cherry"
print(fruit1)
print(fruit2)
print(fruit3)

Python allows you to assign same value to multiple variables in one line

In [ ]:
veggie1 = veggie2 = veggie3 = "Carrots"
print(veggie1)
print(veggie2)
print(veggie3)

Python can unpack a collection of values into variables. This is called unpacking. Studied and explained better in collections

In [ ]:
cities = ["Kolkata", "Bangalore", "Mumbai"]
city1, city2, city3 = cities
print(city1)
print(city2)
print(city3)